@charset "utf-8";
/* CSS Document */

body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dd,dt,span,a,b,em,i,strong,img{ padding:0; margin:0;}
li{ list-style:none;}
a{ text-decoration:none;}
textarea{ resize:none; }
input,buttton,select,textarea{outline:none;}
img{ border:0;}
img,input,select,textarea{ vertical-align:middle; }

.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.clearFix:after{ content:''; display:block; clear:both;}
.clearFix{ zoom:1;}

body{ font-size:12px; font-family:'\5FAE\8F6F\96C5\9ED1';}
.wrapper{ width:960px; margin:0 auto; }
a{color:#666;}

